<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxt.mapper.ReturnordersMapper">
  <resultMap id="BaseResultMap" type="com.dxt.pojo.Returnorders">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CHECKTIME" jdbcType="TIMESTAMP" property="checktime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="CREATER" jdbcType="INTEGER" property="creater" />
    <result column="CHECKER" jdbcType="INTEGER" property="checker" />
    <result column="ENDER" jdbcType="INTEGER" property="ender" />
    <result column="SUPPLIERid" jdbcType="INTEGER" property="supplierid" />
    <result column="TOTALMONEY" jdbcType="DECIMAL" property="totalmoney" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="WAYBILLSN" jdbcType="INTEGER" property="waybillsn" />
    <result column="ORDERSid" jdbcType="INTEGER" property="ordersid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, CREATETIME, CHECKTIME, ENDTIME, TYPE, CREATER, CHECKER, ENDER, SUPPLIERid, TOTALMONEY, 
    STATE, WAYBILLSN, ORDERSid
  </sql>
  <select id="selectByExample" parameterType="com.dxt.pojo.ReturnordersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from returnorders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from returnorders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from returnorders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dxt.pojo.ReturnordersExample">
    delete from returnorders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dxt.pojo.Returnorders">
    insert into returnorders (id, CREATETIME, CHECKTIME, 
      ENDTIME, TYPE, CREATER, 
      CHECKER, ENDER, SUPPLIERid, 
      TOTALMONEY, STATE, WAYBILLSN, 
      ORDERSid)
    values (#{id,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{checktime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{type,jdbcType=CHAR}, #{creater,jdbcType=INTEGER}, 
      #{checker,jdbcType=INTEGER}, #{ender,jdbcType=INTEGER}, #{supplierid,jdbcType=INTEGER}, 
      #{totalmoney,jdbcType=DECIMAL}, #{state,jdbcType=CHAR}, #{waybillsn,jdbcType=INTEGER}, 
      #{ordersid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dxt.pojo.Returnorders">
    insert into returnorders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="checktime != null">
        CHECKTIME,
      </if>
      <if test="endtime != null">
        ENDTIME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="checker != null">
        CHECKER,
      </if>
      <if test="ender != null">
        ENDER,
      </if>
      <if test="supplierid != null">
        SUPPLIERid,
      </if>
      <if test="totalmoney != null">
        TOTALMONEY,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="waybillsn != null">
        WAYBILLSN,
      </if>
      <if test="ordersid != null">
        ORDERSid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null">
        #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="checker != null">
        #{checker,jdbcType=INTEGER},
      </if>
      <if test="ender != null">
        #{ender,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null">
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null">
        #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="waybillsn != null">
        #{waybillsn,jdbcType=INTEGER},
      </if>
      <if test="ordersid != null">
        #{ordersid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dxt.pojo.ReturnordersExample" resultType="java.lang.Long">
    select count(*) from returnorders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update returnorders
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checktime != null">
        CHECKTIME = #{record.checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null">
        ENDTIME = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.creater != null">
        CREATER = #{record.creater,jdbcType=INTEGER},
      </if>
      <if test="record.checker != null">
        CHECKER = #{record.checker,jdbcType=INTEGER},
      </if>
      <if test="record.ender != null">
        ENDER = #{record.ender,jdbcType=INTEGER},
      </if>
      <if test="record.supplierid != null">
        SUPPLIERid = #{record.supplierid,jdbcType=INTEGER},
      </if>
      <if test="record.totalmoney != null">
        TOTALMONEY = #{record.totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.waybillsn != null">
        WAYBILLSN = #{record.waybillsn,jdbcType=INTEGER},
      </if>
      <if test="record.ordersid != null">
        ORDERSid = #{record.ordersid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update returnorders
    set id = #{record.id,jdbcType=INTEGER},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CHECKTIME = #{record.checktime,jdbcType=TIMESTAMP},
      ENDTIME = #{record.endtime,jdbcType=TIMESTAMP},
      TYPE = #{record.type,jdbcType=CHAR},
      CREATER = #{record.creater,jdbcType=INTEGER},
      CHECKER = #{record.checker,jdbcType=INTEGER},
      ENDER = #{record.ender,jdbcType=INTEGER},
      SUPPLIERid = #{record.supplierid,jdbcType=INTEGER},
      TOTALMONEY = #{record.totalmoney,jdbcType=DECIMAL},
      STATE = #{record.state,jdbcType=CHAR},
      WAYBILLSN = #{record.waybillsn,jdbcType=INTEGER},
      ORDERSid = #{record.ordersid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dxt.pojo.Returnorders">
    update returnorders
    <set>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null">
        CHECKTIME = #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=INTEGER},
      </if>
      <if test="checker != null">
        CHECKER = #{checker,jdbcType=INTEGER},
      </if>
      <if test="ender != null">
        ENDER = #{ender,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null">
        SUPPLIERid = #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null">
        TOTALMONEY = #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="waybillsn != null">
        WAYBILLSN = #{waybillsn,jdbcType=INTEGER},
      </if>
      <if test="ordersid != null">
        ORDERSid = #{ordersid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dxt.pojo.Returnorders">
    update returnorders
    set CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CHECKTIME = #{checktime,jdbcType=TIMESTAMP},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      TYPE = #{type,jdbcType=CHAR},
      CREATER = #{creater,jdbcType=INTEGER},
      CHECKER = #{checker,jdbcType=INTEGER},
      ENDER = #{ender,jdbcType=INTEGER},
      SUPPLIERid = #{supplierid,jdbcType=INTEGER},
      TOTALMONEY = #{totalmoney,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=CHAR},
      WAYBILLSN = #{waybillsn,jdbcType=INTEGER},
      ORDERSid = #{ordersid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dxt.pojo.Returnorders">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CHECKTIME" jdbcType="TIMESTAMP" property="checktime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="CREATER" jdbcType="INTEGER" property="creater" />
    <result column="CHECKER" jdbcType="INTEGER" property="checker" />
    <result column="ENDER" jdbcType="INTEGER" property="ender" />
    <result column="SUPPLIERid" jdbcType="INTEGER" property="supplierid" />
    <result column="TOTALMONEY" jdbcType="DECIMAL" property="totalmoney" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="WAYBILLSN" jdbcType="INTEGER" property="waybillsn" />
    <result column="ORDERSid" jdbcType="INTEGER" property="ordersid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, CREATETIME, CHECKTIME, ENDTIME, TYPE, CREATER, CHECKER, ENDER, SUPPLIERid, TOTALMONEY, 
    STATE, WAYBILLSN, ORDERSid
  </sql>
  <select id="selectByExample" parameterType="com.dxt.pojo.ReturnordersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from returnorders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from returnorders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from returnorders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dxt.pojo.ReturnordersExample">
    delete from returnorders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dxt.pojo.Returnorders">
    insert into returnorders (id, CREATETIME, CHECKTIME, 
      ENDTIME, TYPE, CREATER, 
      CHECKER, ENDER, SUPPLIERid, 
      TOTALMONEY, STATE, WAYBILLSN, 
      ORDERSid)
    values (#{id,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{checktime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{type,jdbcType=CHAR}, #{creater,jdbcType=INTEGER}, 
      #{checker,jdbcType=INTEGER}, #{ender,jdbcType=INTEGER}, #{supplierid,jdbcType=INTEGER}, 
      #{totalmoney,jdbcType=DECIMAL}, #{state,jdbcType=CHAR}, #{waybillsn,jdbcType=INTEGER}, 
      #{ordersid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dxt.pojo.Returnorders">
    insert into returnorders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="checktime != null">
        CHECKTIME,
      </if>
      <if test="endtime != null">
        ENDTIME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="checker != null">
        CHECKER,
      </if>
      <if test="ender != null">
        ENDER,
      </if>
      <if test="supplierid != null">
        SUPPLIERid,
      </if>
      <if test="totalmoney != null">
        TOTALMONEY,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="waybillsn != null">
        WAYBILLSN,
      </if>
      <if test="ordersid != null">
        ORDERSid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null">
        #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="checker != null">
        #{checker,jdbcType=INTEGER},
      </if>
      <if test="ender != null">
        #{ender,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null">
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null">
        #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="waybillsn != null">
        #{waybillsn,jdbcType=INTEGER},
      </if>
      <if test="ordersid != null">
        #{ordersid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dxt.pojo.ReturnordersExample" resultType="java.lang.Long">
    select count(*) from returnorders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update returnorders
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checktime != null">
        CHECKTIME = #{record.checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null">
        ENDTIME = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.creater != null">
        CREATER = #{record.creater,jdbcType=INTEGER},
      </if>
      <if test="record.checker != null">
        CHECKER = #{record.checker,jdbcType=INTEGER},
      </if>
      <if test="record.ender != null">
        ENDER = #{record.ender,jdbcType=INTEGER},
      </if>
      <if test="record.supplierid != null">
        SUPPLIERid = #{record.supplierid,jdbcType=INTEGER},
      </if>
      <if test="record.totalmoney != null">
        TOTALMONEY = #{record.totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.waybillsn != null">
        WAYBILLSN = #{record.waybillsn,jdbcType=INTEGER},
      </if>
      <if test="record.ordersid != null">
        ORDERSid = #{record.ordersid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update returnorders
    set id = #{record.id,jdbcType=INTEGER},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CHECKTIME = #{record.checktime,jdbcType=TIMESTAMP},
      ENDTIME = #{record.endtime,jdbcType=TIMESTAMP},
      TYPE = #{record.type,jdbcType=CHAR},
      CREATER = #{record.creater,jdbcType=INTEGER},
      CHECKER = #{record.checker,jdbcType=INTEGER},
      ENDER = #{record.ender,jdbcType=INTEGER},
      SUPPLIERid = #{record.supplierid,jdbcType=INTEGER},
      TOTALMONEY = #{record.totalmoney,jdbcType=DECIMAL},
      STATE = #{record.state,jdbcType=CHAR},
      WAYBILLSN = #{record.waybillsn,jdbcType=INTEGER},
      ORDERSid = #{record.ordersid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dxt.pojo.Returnorders">
    update returnorders
    <set>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null">
        CHECKTIME = #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=INTEGER},
      </if>
      <if test="checker != null">
        CHECKER = #{checker,jdbcType=INTEGER},
      </if>
      <if test="ender != null">
        ENDER = #{ender,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null">
        SUPPLIERid = #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null">
        TOTALMONEY = #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="waybillsn != null">
        WAYBILLSN = #{waybillsn,jdbcType=INTEGER},
      </if>
      <if test="ordersid != null">
        ORDERSid = #{ordersid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dxt.pojo.Returnorders">
    update returnorders
    set CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CHECKTIME = #{checktime,jdbcType=TIMESTAMP},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      TYPE = #{type,jdbcType=CHAR},
      CREATER = #{creater,jdbcType=INTEGER},
      CHECKER = #{checker,jdbcType=INTEGER},
      ENDER = #{ender,jdbcType=INTEGER},
      SUPPLIERid = #{supplierid,jdbcType=INTEGER},
      TOTALMONEY = #{totalmoney,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=CHAR},
      WAYBILLSN = #{waybillsn,jdbcType=INTEGER},
      ORDERSid = #{ordersid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.dxt.pojo.Returnorders">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CHECKTIME" jdbcType="TIMESTAMP" property="checktime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="CREATER" jdbcType="INTEGER" property="creater" />
    <result column="CHECKER" jdbcType="INTEGER" property="checker" />
    <result column="ENDER" jdbcType="INTEGER" property="ender" />
    <result column="SUPPLIERid" jdbcType="INTEGER" property="supplierid" />
    <result column="TOTALMONEY" jdbcType="DECIMAL" property="totalmoney" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="WAYBILLSN" jdbcType="INTEGER" property="waybillsn" />
    <result column="ORDERSid" jdbcType="INTEGER" property="ordersid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, CREATETIME, CHECKTIME, ENDTIME, TYPE, CREATER, CHECKER, ENDER, SUPPLIERid, TOTALMONEY, 
    STATE, WAYBILLSN, ORDERSid
  </sql>
  <select id="selectByExample" parameterType="com.dxt.pojo.ReturnordersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from returnorders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from returnorders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from returnorders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dxt.pojo.ReturnordersExample">
    delete from returnorders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dxt.pojo.Returnorders">
    insert into returnorders (id, CREATETIME, CHECKTIME, 
      ENDTIME, TYPE, CREATER, 
      CHECKER, ENDER, SUPPLIERid, 
      TOTALMONEY, STATE, WAYBILLSN, 
      ORDERSid)
    values (#{id,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{checktime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{type,jdbcType=CHAR}, #{creater,jdbcType=INTEGER}, 
      #{checker,jdbcType=INTEGER}, #{ender,jdbcType=INTEGER}, #{supplierid,jdbcType=INTEGER}, 
      #{totalmoney,jdbcType=DECIMAL}, #{state,jdbcType=CHAR}, #{waybillsn,jdbcType=INTEGER}, 
      #{ordersid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dxt.pojo.Returnorders">
    insert into returnorders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="checktime != null">
        CHECKTIME,
      </if>
      <if test="endtime != null">
        ENDTIME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="checker != null">
        CHECKER,
      </if>
      <if test="ender != null">
        ENDER,
      </if>
      <if test="supplierid != null">
        SUPPLIERid,
      </if>
      <if test="totalmoney != null">
        TOTALMONEY,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="waybillsn != null">
        WAYBILLSN,
      </if>
      <if test="ordersid != null">
        ORDERSid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null">
        #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="checker != null">
        #{checker,jdbcType=INTEGER},
      </if>
      <if test="ender != null">
        #{ender,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null">
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null">
        #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="waybillsn != null">
        #{waybillsn,jdbcType=INTEGER},
      </if>
      <if test="ordersid != null">
        #{ordersid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dxt.pojo.ReturnordersExample" resultType="java.lang.Long">
    select count(*) from returnorders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update returnorders
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checktime != null">
        CHECKTIME = #{record.checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null">
        ENDTIME = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.creater != null">
        CREATER = #{record.creater,jdbcType=INTEGER},
      </if>
      <if test="record.checker != null">
        CHECKER = #{record.checker,jdbcType=INTEGER},
      </if>
      <if test="record.ender != null">
        ENDER = #{record.ender,jdbcType=INTEGER},
      </if>
      <if test="record.supplierid != null">
        SUPPLIERid = #{record.supplierid,jdbcType=INTEGER},
      </if>
      <if test="record.totalmoney != null">
        TOTALMONEY = #{record.totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.waybillsn != null">
        WAYBILLSN = #{record.waybillsn,jdbcType=INTEGER},
      </if>
      <if test="record.ordersid != null">
        ORDERSid = #{record.ordersid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update returnorders
    set id = #{record.id,jdbcType=INTEGER},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CHECKTIME = #{record.checktime,jdbcType=TIMESTAMP},
      ENDTIME = #{record.endtime,jdbcType=TIMESTAMP},
      TYPE = #{record.type,jdbcType=CHAR},
      CREATER = #{record.creater,jdbcType=INTEGER},
      CHECKER = #{record.checker,jdbcType=INTEGER},
      ENDER = #{record.ender,jdbcType=INTEGER},
      SUPPLIERid = #{record.supplierid,jdbcType=INTEGER},
      TOTALMONEY = #{record.totalmoney,jdbcType=DECIMAL},
      STATE = #{record.state,jdbcType=CHAR},
      WAYBILLSN = #{record.waybillsn,jdbcType=INTEGER},
      ORDERSid = #{record.ordersid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dxt.pojo.Returnorders">
    update returnorders
    <set>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null">
        CHECKTIME = #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=INTEGER},
      </if>
      <if test="checker != null">
        CHECKER = #{checker,jdbcType=INTEGER},
      </if>
      <if test="ender != null">
        ENDER = #{ender,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null">
        SUPPLIERid = #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null">
        TOTALMONEY = #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="waybillsn != null">
        WAYBILLSN = #{waybillsn,jdbcType=INTEGER},
      </if>
      <if test="ordersid != null">
        ORDERSid = #{ordersid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dxt.pojo.Returnorders">
    update returnorders
    set CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CHECKTIME = #{checktime,jdbcType=TIMESTAMP},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      TYPE = #{type,jdbcType=CHAR},
      CREATER = #{creater,jdbcType=INTEGER},
      CHECKER = #{checker,jdbcType=INTEGER},
      ENDER = #{ender,jdbcType=INTEGER},
      SUPPLIERid = #{supplierid,jdbcType=INTEGER},
      TOTALMONEY = #{totalmoney,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=CHAR},
      WAYBILLSN = #{waybillsn,jdbcType=INTEGER},
      ORDERSid = #{ordersid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>